In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./listings.csv')

In [3]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [4]:
df.shape

(3818, 92)

# Check all the data columns.
Trying to get some important columns from this data

In [5]:
df.columns.values.tolist()

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'reviews_per_month']

In [6]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3818 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

# Check the reviews
First, I'm checking the number of reviews by days available.

In [7]:
df[['number_of_reviews', 'availability_30', 'availability_60', 'availability_90', 'availability_365']]

,number_of_reviews,availability_30,availability_60,availability_90,availability_365
0,207,14,41,71,346
1,43,13,13,16,291
2,20,1,6,17,220
3,0,0,0,0,143
4,38,30,60,90,365
...,...,...,...,...,...
3813,1,18,32,32,32
3814,2,6,26,44,273
3815,0,29,59,88,88
3816,0,30,60,90,179
3817,0,7,7,7,7

Verifying the score of each topic and removing the null columns

In [8]:
reviews_scores = df[['id','review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value','number_of_reviews']]

In [9]:
reviews_scores = reviews_scores[reviews_scores['review_scores_rating'].notnull()]

Get the mean and the median score rating

In [10]:
reviews_scores['review_scores_rating'].mean()

94.53926206244087

In [11]:
reviews_scores['review_scores_rating'].median()

96.0

# Checking the scores.

In [12]:
reviews_scores['review_scores_rating'].describe()

count    3171.000000
mean       94.539262
std         6.606083
min        20.000000
25%        93.000000
50%        96.000000
75%        99.000000
max       100.000000
Name: review_scores_rating, dtype: float64

## Scores Rating below or equal 50

In [13]:
reviews_scores[reviews_scores['review_scores_rating'] <= 50].sort_values(by=['review_scores_rating'], ascending=False)

,id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,number_of_reviews
1162,9151865,40.0,4.0,10.0,10.0,10.0,10.0,4.0,1
1666,9151374,40.0,4.0,6.0,8.0,2.0,8.0,4.0,3
2320,8474294,40.0,10.0,10.0,2.0,2.0,10.0,8.0,1
3148,5639238,40.0,9.0,3.0,9.0,9.0,10.0,5.0,2
1222,9183838,20.0,2.0,4.0,2.0,2.0,6.0,2.0,1

## Reviews Above 50

In [14]:
reviews_scores[reviews_scores['review_scores_rating'] > 50].sort_values(by=['review_scores_rating'], ascending=False)

,id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,number_of_reviews
3814,8902327,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2
1144,5330475,100.0,9.0,9.0,10.0,10.0,10.0,10.0,2
639,9210978,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1
1160,7438635,100.0,10.0,10.0,10.0,10.0,10.0,10.0,12
1159,7840228,100.0,10.0,10.0,10.0,10.0,10.0,9.0,6
...,...,...,...,...,...,...,...,...,...
806,9303530,60.0,8.0,8.0,10.0,10.0,10.0,10.0,1
2495,7245586,60.0,6.0,4.0,4.0,7.0,9.0,7.0,2
1972,9075558,57.0,6.0,5.0,8.0,9.0,8.0,7.0,6
1219,6370313,55.0,7.0,7.0,5.0,6.0,10.0,7.0,4
2474,4892529,53.0,6.0,7.0,10.0,9.0,9.0,6.0,3

In [15]:
reviews_scores.sort_values(by=['number_of_reviews'], ascending=False).head(20)

,id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,number_of_reviews
1447,208356,95.0,10.0,10.0,10.0,10.0,9.0,9.0,474
1441,365550,94.0,9.0,10.0,10.0,10.0,9.0,9.0,466
3083,25002,98.0,10.0,10.0,10.0,10.0,10.0,10.0,404
3600,47196,93.0,10.0,10.0,10.0,9.0,9.0,9.0,353
2568,63308,98.0,10.0,10.0,10.0,10.0,10.0,10.0,320
1499,92835,94.0,10.0,9.0,10.0,10.0,9.0,9.0,319
2166,5682,96.0,10.0,10.0,10.0,10.0,9.0,10.0,297
2690,279063,91.0,9.0,9.0,9.0,10.0,10.0,9.0,294
2456,53867,96.0,10.0,10.0,10.0,10.0,9.0,10.0,287
2668,841049,95.0,10.0,10.0,10.0,10.0,10.0,10.0,279
2610,258571,89.0,9.0,8.0,9.0,10.0,9.0,9.0,278
3291,158345,97.0,10.0,10.0,10.0,10.0,10.0,10.0,277
821,794633,98.0,10.0,10.0,10.0,10.0,10.0,10.0,270
1462,397117,95.0,10.0,9.0,10.0,10.0,10.0,9.0,265
2710,835149,96.0,10.0,10.0,10.0,10.0,10.0,10.0,263
2764,719233,85.0,8.0,8.0,9.0,9.0,9.0,9.0,255
96,20927,97.0,10.0,9.0,10.0,10.0,10.0,10.0,244
1592,9460,98.0,10.0,10.0,10.0,10.0,10.0,10.0,240
2096,143580,94.0,10.0,9.0,10.0,10.0,9.0,9.0,238
3697,1279660,97.0,10.0,10.0,10.0,10.0,10.0,9.0,233

In [17]:
reviews_scores[reviews_scores['number_of_reviews']>=100].sort_values(by=['number_of_reviews'], ascending=False)

,id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,number_of_reviews
1447,208356,95.0,10.0,10.0,10.0,10.0,9.0,9.0,474
1441,365550,94.0,9.0,10.0,10.0,10.0,9.0,9.0,466
3083,25002,98.0,10.0,10.0,10.0,10.0,10.0,10.0,404
3600,47196,93.0,10.0,10.0,10.0,9.0,9.0,9.0,353
2568,63308,98.0,10.0,10.0,10.0,10.0,10.0,10.0,320
...,...,...,...,...,...,...,...,...,...
2497,3852117,94.0,10.0,9.0,10.0,10.0,9.0,9.0,101
2107,5056580,100.0,10.0,10.0,10.0,10.0,10.0,10.0,100
407,2026794,91.0,9.0,9.0,10.0,10.0,10.0,9.0,100
1703,1080097,93.0,9.0,10.0,10.0,10.0,9.0,9.0,100
3158,1622794,98.0,10.0,10.0,10.0,10.0,10.0,9.0,100

In [ ]:
## Conclusion

Guests usually enjoy their stay